# function name or arn
lambda_function_name: "my-lambda-function"
# "ResponseStream" or "Buffered"
lambda_invoke_mode: "ResponseStream"
# Optional, defaults to "0.0.0.0:8000"
addr: "0.0.0.0:8000"
# "ApiKey" or "Open"
auth_mode: ApiKey
# change these keys
api_keys:
  - "key1"                                                                                                                                                                                                                                                                                                                                               
  - "key2"
